@model dynamic

<div class="container">
    <div class="divPanel">
        <!--Edit Main Content Area here-->
        <div id="divMain">
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span11">
                    <div class="breadcrumb">
                        <h5>@*ViewBag.Message*@</h5>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span10" id="divCMSContent">
                    <div class="row-fluid">
                       
                            <div class="col-md-12" style="word-break:break-all; word-wrap:break-word"><span style="font-weight:bold">Privacy Policy</span></div>
                            <br />
                            <div class="col-md-8 editor-label" style="word-break:normal; word-wrap:normal; text-align:left; vertical-align:text-top; padding-right:20px;" >
                                <ol>
                                    <li>
                                        Each member is required to keep his information updated by reporting any changes in name, address, and other personal information. Members may update his/her information by emailing customer service at <a style="color: #FFA73B;" href="mailto:customercare@robinsonsrewards.com.ph">Customer Care</a>. Necessary documents may be required from the member for verification purposes. In case of death of the member, card will automatically be revoked in any case and all rights and benefits offered by the program will immediately be null and void. 
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        You can manage the types of personal data you provide to us and can limit how we communicate with you. At the same time, we think that the more you tell us about yourself and what you like, the more relevant and personal your experience with our services will be. You can  manage your membership by following administration instructions contained in any commercial communications that we send you. Please note that we may still need to contact you with important transactional information related to your account and your purchases.
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        We control and process personal data for the following purposes: Operate, maintain and improve the Site, provide you with personalized direct marketing initiatives via email and direct marketing offers, determine your eligibility for certain types of offers, products or services that may be of interest to you, and analyze advertising effectiveness, answer your questions and respond to your requests, to establish and analyze individual and group profiles and customer behavior, communicate and provide additional information that may be of interest to you about us, send you reminders, technical notices, updates, security alerts, support and administrative messages, service bulletins, marketing messages, and requested information, including on behalf of business partners, administer rewards, surveys, sweepstakes, contests, or other promotional activities or events, manage our everyday business needs, such as administration of the membership, forum management, fulfillment, analytics, fraud prevention, and enforcement of our corporate reporting obligations or to comply with the law, comply with our legal obligations, resolve disputes, and enforce our agreements, enhance other information we have about you to help us better understand you and determine your interests and provide you with more relevant and compelling services.
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        We may set and access Cookies and similar technologies on your computer. A Cookie is a small piece of data that is stored on your computer or mobile device by your web browser when you visit a website. We use Cookies to understand site usage. We may share aggregate demographics and usage information with our prospective and actual business partners, advertisers and other third parties for any business purpose. Most web browsers can be set to disable the use of Cookies. However, if you disable Cookies, you may not be able to access full functionality of the site correctly or at all. No cookie shall contain personally identifiable information.
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        We are not in the business of selling or renting personal data. We will not share your personal data, except with your consent or as otherwise required or permitted by law, as follows: with our affiliates and subsidiaries and affiliated and unaffiliated service providers to provide services for us, subject to strict contractual obligations to protect your personal data and process it on our behalf and under our control only, as necessary to perform contractual obligations towards you with business partners to the extent you have availed goods or services offered by a business partner or participated in an offer, rewards, contest or other activity or program sponsored or offered through us or on behalf of that business partner, in case of a merger, acquisition or reorganization with a purchaser of our company or all or substantially all of our assets, to comply with legal orders and government requests, or as needed to support auditing, compliance, and corporate governance functions, to combat fraud or criminal activity, and to protect our rights or those of our affiliates, business partners and users, or as part of legal proceedings affecting our company or group and in response to a subpoena, or similar legal process, including to law enforcement agencies, regulators, and courts.
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        We have implemented an information security program that contains administrative, technical and physical controls that are designed to reasonably safeguard personal data. No method of transmission over the Internet, or method of electronic storage, is 100% secure, however. Therefore, we cannot guarantee its absolute security.
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        In accordance with applicable law, you may (i) request access to any other personal data we hold about you and request that it be updated, rectified, deleted or blocked, (ii) request that we refrain from further use of any personal data we hold about you, and (iii) object to our creation of user profiles about you. If you have any questions or comments about our privacy practices or this Privacy Statement, if you want to make use of any of the above rights, or other rights that you may have in relation to your personal data, you may communicate with us directly through phone, email or through our customer service counters.
                                        <br />
                                        <br />
                                    </li>
                                    <li>
                                        We will retain your personal data for as long as your account is active or as needed to provide you services and to maintain a record of your transactions for reporting compliance purposes. We will also retain your personal data as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
                                        <br />
                                        <br />
                                    </li>
                                </ol>
                            </div>
                       

                    </div>
                </div>
                <div class="span1"></div>
            </div>
            <!--End Main Content-->
        </div>
        <!--div id="footerInnerSeparator"></div-->
    </div>
</div>