
@{
    ViewBag.Title = "UploadImage";
}

<h2>UploadImage</h2>

<div class="control-group">
    <div class="controls">
        <input type="submit" value="Create" class="btn btn-default" /> @Html.ActionLink("Contents", "Template", new { id = ViewBag.Id })

    </div>
</div>
