@model IEnumerable<dynamic>
<!-- Page Title -->
<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Frequently Asked Questions</h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 faq-wrapper">
                <div class="panel-group" id="accordion2">
                    @foreach (dynamic item in Model)
                    {
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@item.Id">
                                    @item.Name
                                </a>
                            </div>
                            <div id="@item.Id" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <div class="answer">Answer:</div>
                                    @Html.Raw(item.Markup)
                                </div>
                            </div>
                        </div>
                    }
                    <a href="@(Url.Action("Collapsables", "Browse", new { id = 0 }, null))">&laquo;Back</a>
                </div>
            </div>
        </div>
    </div>
</div>