<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <!--<add name="RobinsonsDBContext" connectionString="Data Source=.\SQL2012JM;Initial Catalog=Robinsons;Integrated Security=true" providerName="System.Data.SqlClient" />-->
    <!--add name="RobinsonsDBContext" connectionString="Data Source=WIN-SK3VB2P21AV\SQLEXPRESSDRB;Initial Catalog=atinoc_RobinsonsStaging2;user id=sa;password=superman;" providerName="System.Data.SqlClient" /-->
    <add name="RobinsonsDBContext" connectionString="Data Source=GENESIS\SQLEXP2014;Initial Catalog=RobCMSDB;user id=sa;password=stargazer;" providerName="System.Data.SqlClient" />
    <!--add name="RobinsonsDBContext" connectionString="Data Source=RRGCRMRRCD001;Initial Catalog=atinoc_satrobinsons;user=sa-asiaweb;password=password@02;" providerName="System.Data.SqlClient" /-->
  </connectionStrings>
  <appSettings>
    <add key="UploadsPath" value="http://localhost:27523" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="XMLPath" value="http://localhost:27523//Robinsons//" />
    <add key="smtpUsername" value="csr.robinsons@gmail.com" />
    <add key="smtpPassword" value="csr123$$" />
    <add key="MyRewardsUrl" value="http://localhost:30887/" />
    <!--add key="MyRewardsUrl" value="http://10.88.93.78:82/Account/Login"/-->
  </appSettings>
   <log4net debug="true">
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <param name="File" value="C:\Repos\RobinsonsCMS\CMSPortal\CMSPortal\Logs\CMSPortal.log" />
      <!--<param name="AppendToFile" value="true"/>-->
      <layout type="log4net.Layout.PatternLayout">
        <!--param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" /-->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>