@model dynamic


<div class="container">
    <div class="divPanel">
        <!--Edit Main Content Area here-->
        <div id="divMain">
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span11">
                    <div class="breadcrumb">
                        <a href="@(Url.Action("Index","Home"))">Home</a> &nbsp;-&nbsp; <span><strong>@Model.Template.Name</strong></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span1"></div>
                <div class="span10" id="divCMSContent">

                    @foreach (var item in Model.Contents)
                    {
                        <div class="row-fluid">
                            <h5 class="text-info"><a href="@(Url.Action("FullArticle", "Browse", new { id = item.Id }))">@item.Name &raquo;</a></h5><br />
                        </div>
                    }
                </div>
                <div class="span1"></div>
            </div>
            <!--End Main Content-->
        </div>

        <div id="footerInnerSeparator"></div>
    </div>
</div>